

/* Set the base fontsize */
html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

/* Set line height */
body {
  line-height: 1.4;

}
/* Set basic container parameters */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Sets a display element to be a flexbox */
.flex {
  display: flex;
}

/* Set all h1,h4 to bold */
/* h1,
h4 {
  font-weight: bold;
} */


/* ---------------------Header-------------------------  */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Sets specific header logo parameters */
