

/* Set the base fontsize */
html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

/* Set line height */
body {
  line-height: 1.4;

}
/* Set basic container parameters */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Sets a display element to be a flexbox */
.flex {
  display: flex;
}

/* Set all h1,h4 to bold */
/* h1,
h4 {
  font-weight: bold;
} */


/* ---------------------Header-------------------------  */

/* Whole area of the glasses image */
header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Makes the cadetblue box - Logo and menu appear inside this  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
}

/* Makes a flexbox for logo and Title */
nav div {
  display: flex;
  align-items: center;
}

/* Logo dimensions */

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* Right margin of the menu list */
nav ul {
  margin-right: 2rem;
}

/* Make the menu items display in a line */
nav li {
  display: inline;
  padding: 0 1rem;
}

/* Makes the white box of the banner */
.main-banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

/* makes all flex in the header start from the right */
header .flex {
  justify-content: flex-end;
}

/* ----------------------The three icons--------------------- */

/* Makes a flexbox for the 3 icons */
.supporting {
  display: flex;
  justify-content: center;
}

/* Makes a flexbox for each individual icon  */
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

/* ------------------Philospohy and appointments----------- */

/* Set width of the 2 sections  */
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

/* Distance between title and text */
.info p {
  padding: 1rem 0;
}
