

/* Set the base fontsize */
html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

/* Set line height */
body {
  line-height: 1.4;

}
/* Set basic container parameters */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Set all h1,h4 to bold */
/* h1,
h4 {
  font-weight: bold;
} */


/* ---------------------Header-------------------------  */

/* Sets specific header logo parameters */
